* {
    margin: 0;
    /*css do Menu*/
    padding: 0;
}

.menu-lateral {
    height: 100%;
    background-color: rgb(5, 31, 12);
}

.menu-lateral.show-left {
    -moz-transition: all 50ms linear;
    -webkit-transition: all 50ms linear;
    -o-transition: all 50ms linear;
    transition: all 50ms linear;
    -moz-transform: translate3d(-300px, 0px, 0px);
    -webkit-transform: translate3d(300px, 0px, 0px);
    -o-transform: translate(-300px, 0px);
    -ms-transform: translate(-300px, 0px);
    transform: translate3d(-300px, 0px, 0px);
    z-index: 10;
}

.menu-lateral.show-left.click {
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.ham:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.ham {
    cursor: pointer;
    transition: all 0.5s;
    object-fit: cover;
    border: 1px;
    max-width: 100%;
    height: auto;
    border-radius: 30px;
    padding: 10px;
    margin: 5px;
}

.menu-exit {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
}

.nav-a {
    position: relative;
    width: 100vw;
    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    z-index: 1;
    margin-bottom: 25px;
}

.d-flex {
    display: flex;
    overflow-x: auto;
    background-color: rgba(255, 255, 255, 0.05);
}

.flex-column {
    flex-flow: column nowrap;
}

.bodyMaterias {
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

.card {
    border: 0!important;
    border-radius: 10px;
    min-width: 200px;
    overflow: hidden;
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, .15);
}

.card {
    min-width: 200px;
    height: 110px;
}

.card {
    color: white;
    text-align: center;
    text-decoration: none;
}

.header {
    background-color: rgb(0, 0, 0);
    color: white;
}

.titulo {
    display: flex;
    margin-bottom: 8px;
}

.nomeMaterias {
    padding-left: 8px;
    color: rgb(80, 84, 98);
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    font-family: Nunito, sans-serif;
}

header {
    color: rgb(37, 39, 45);
    font-weight: bold;
    font-size: 24px;
    font-family: Nunito, sans-serif;
}

.iconeMaterias:before {
    content: "";
    background-color: rgb(255, 114, 114);
    width: 4px;
    border-radius: 4px;
    margin-right: 20px;
}

.iconeMaterias2:before {
    content: "";
    background-color: rgb(112, 193, 179);
    width: 4px;
    border-radius: 4px;
    margin-right: 20px;
}

.iconeMaterias3:before {
    content: "";
    background-color: rgb(250, 226, 120);
    width: 4px;
    border-radius: 4px;
    margin-right: 20px;
}

.iconeMaterias4:before {
    content: "";
    background-color: rgb(252, 159, 91);
    width: 4px;
    border-radius: 4px;
    margin-right: 20px;
}

.iconeMaterias5:before {
    content: "";
    background-color: rgb(83, 164, 198);
    width: 4px;
    border-radius: 4px;
    margin-right: 20px;
}

.body {
    margin-left: 30px;
    color: rgb(37, 39, 45);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    overflow: hidden;
    padding: 16px 16px 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 2;
}

.con {
    padding: 0!important;
}

@media only screen and (max-width: 768px) {
    [class="col-"] {
        width: 100vw;
        padding: 0;
    }
    body {
        margin-left: 30px;
        overflow: visible;
        background-color: rgb(170, 170, 170);
    }
    .nav-a {
        top: 0;
        width: 100%;
        position: relative;
        width: 100vw;
        background: rgb(87, 184, 70);
        box-shadow: 0px 4px 20px;
        z-index: 1;
    }
    .slogan-sc {
        display: none;
    }
    #mydiv {
        display: none;
    }
    .login-sc {
        box-shadow: none;
        border-radius: 0;
        background-color: rgb(170, 170, 170);
    }
    .logo-resp {
        background-color: 0;
        display: block!important;
        background-color: rgba(0, 0, 0, .0)!important;
    }
    .login {
        width: 100vw;
    }
    .mydivback {
        height: auto;
        width: auto;
    }
    .menu-lateral {
        height: 100%;
        background-color: rgb(5, 31, 12);
    }
    .menu-lateral.show-left {
        -moz-transition: all 50ms linear;
        -webkit-transition: all 50ms linear;
        -o-transition: all 50ms linear;
        transition: all 50ms linear;
        -moz-transform: translate3d(-50vw, 0px, 0px);
        -webkit-transform: translate3d(-50vw, 0px, 0px);
        -o-transform: translate(-50vw, 0px);
        -ms-transform: translate(-50vw, 0px);
        transform: translate3d(-50vw, 0px, 0px);
    }
    .menu-lateral.show-left.click {
        -moz-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px);
        box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.5);
    }
    .ham:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }
    .ham {
        display: block;
        cursor: pointer;
        transition: all 0.5s;
        object-fit: cover;
        border: 1px;
        border-radius: 30px;
        max-width: 100%;
        height: auto;
        padding: 10px;
        margin: 0;
    }
    .menu-exit {
        display: block;
        top: 0;
        position: absolute;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.modulosQuimica {
    font-size: 12px;
    margin: 0px 16px;
    color: rgb(58, 62, 71);
    font-weight: bold;
    font-family: Nunito, sans-serif;
    z-index: 2;
}

.modlink1 {
    background: rgb(255, 114, 114);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 172px;
}

.modlink2 {
    background: rgb(112, 193, 179);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 172px;
    border-radius: 10px;
}

.modlink3 {
    background: rgb(250, 226, 120);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 172px;
    border-radius: 10px;
}

.modlink4 {
    background: rgb(252, 159, 91);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 172px;
    border-radius: 10px;
}
.modlink5{
    background: rgb(83, 164, 198);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 172px;
    border-radius: 10px;
}

.modlink1:hover {
    text-decoration: none;
}

.modlink2:hover {
    text-decoration: none;
}
.modlink3:hover {
    text-decoration: none;
}
.modlink4:hover {
    text-decoration: none;
}
.modlink5:hover {
    text-decoration: none;
}


.footer1 {
    color: rgb(255, 255, 255);
    line-height: 16px;
    font-size: 12px;
    background: rgb(153, 65, 70);
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    height: 16px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    z-index: 2;
    width: 100%;
    display: flex;
}

.footer2 {
    color: rgb(255, 255, 255);
    line-height: 16px;
    font-size: 12px;
    background: rgb(65, 118, 106);
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    height: 16px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    z-index: 2;
    width: 100%;
    display: flex;
}
.footer3{
    color: rgb(255, 255, 255);
    line-height: 16px;
    font-size: 12px;
    background: rgb(153, 133, 69);
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    height: 16px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    z-index: 2;
    width: 100%;
    display: flex;

}
.footer4{
    color: rgb(255, 255, 255);
    line-height: 16px;
    font-size: 12px;
    background: rgb(153, 90, 51);
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    height: 16px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    z-index: 2;
    width: 100%;
    display: flex;
}
.footer5{
    color: rgb(255, 255, 255);
    line-height: 16px;
    font-size: 12px;
    background: rgb(47, 103, 121);
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    height: 16px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    z-index: 2;
    width: 100%;
    display: flex;
}